amqp==5.2.0
asgiref==3.8.1
asttokens==2.4.1
billiard==4.2.0
black==24.8.0
bleach==6.1.0
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.6.1
cron-descriptor==1.4.5
decorator==5.1.1
Django==5.1.1
django-celery-beat==2.7.0
django-cors-headers==4.4.0
django-phonenumber-field==8.0.0
django-timezone-field==7.0
executing==2.1.0
flake8==7.1.1
flake8-builtins==2.5.0
flake8-docstrings==1.7.0
flake8-quotes==3.4.0
idna==3.10
ipython==8.27.0
isort==5.13.2
jedi==0.19.1
kombu==5.4.1
Markdown==3.7
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
phonenumbers==8.13.45
pillow==10.4.0
platformdirs==4.3.2
prompt_toolkit==3.0.47
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.18.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytils==0.4.1
redis==5.0.8
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.5.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
