{% extends 'restaurant/base.html'%}
{% load static %}
{% block content %}



<div class="row text-right">
    <div class="col-12 mb-3">
        <div class="card mb-3 box-shadow">
            <br>
            <div class="btn-group">

                     &nbsp; &nbsp; &nbsp; <a class="p-2 btn btn-outline-primary btn-lg btn-block"
                                        href="{%url 'restaurant:booking_create' %}">Добавить бронирование</a> &nbsp; &nbsp;
                &nbsp;
            </div>
            <br>
        </div>
    </div>


    <div class="col-12">

        <div class="card mb-3 box-shadow">



            <div class="card-body">
                <h5 class="card-title">

                    <div style="color: orange"><b> Рассылки: &nbsp; режим владельца</b></div>

                </h5>
                <p class="card-text">




                <table class="table table-stripped">
                    <tr>
                        <th>Пользователь</th>
                        <th>Столик</th>

                        <th>Дата</th>
                        <th>Время</th>
                        <th>Активно</th>
                        <th>Напомнить за</th>
                        <th>Дата создания</th>

                    </tr>


                    {% for object in object_list %}

                    <tr>
                        {% if user == object.user %}

                        <td>{{object.user}}</td>
                        <td>{{object.table}}, {{object.places}} места</td>

                        <td>{{object.date_field}}</td>
                        <td>{{object.time_start}} - {{object.time_end}}</td>
                        <td>{{object.active}}</td>
                        <td>{{object.notification}} часа</td>
                        <td>{{object.created_at}}</td>
                        <td>{{object.pk}}</td>

                        <td>
                            <a class="btn btn-primary" href="{%url 'restaurant:booking_detail' object.pk%}" role="button">Информация</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'restaurant:booking_update' object.pk%}"
                               role="button">Изменить</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'restaurant:booking_delete' object.pk%}"
                               role="button">Удалить</a>
                        </td>
                        {% endif %}

                    </tr>

                    {% endfor %}

                </table>


                </p>

            </div>
        </div>

    </div>

</div>


</div>

{% endblock %}