{% extends 'restaurant/base.html'%}
{% load static %}
{% block content %}


{% comment 'бронирования' %}
user = models.ForeignKey(User, on_delete=models.CASCADE, verbose_name='пользователь', help_text='пользователь', related_name='user')
    table = models.ForeignKey(Table, on_delete=models.CASCADE, verbose_name='столик', help_text='столик', related_name = 'table')
    places = models.SmallIntegerField(verbose_name='Число бронируемых мест',
                                      help_text="Введите число бронируемых мест", default=2)

    notification = models.SmallIntegerField(
        default=0, verbose_name="Оповещение", choices=NOTIFICATION_HOURS
    )

    date_field = models.DateField(verbose_name='дата бронирования', help_text='введите дата бронирования')
    time_start = models.TimeField(verbose_name='начало бронирования', help_text='введите начало бронирования')
    time_end = models.TimeField(verbose_name='конец бронирования', help_text='введите конец бронирования')

    active = models.BooleanField(verbose_name='активно ли бронирование', default=True, help_text='введите активно ли бронирование')
    created_at = models.DateTimeField(auto_now_add=True, verbose_name='дата создания', help_text = 'введите дату создания бронирования')
{% endcomment %}



<div class="row text-right">
    <div class="col-12 mb-3">
        <div class="card mb-3 box-shadow">
            <br>
            <div class="btn-group">
                {% if perms.mailapp.can_turn_off_mailing %}
                <div class="card-body">
                <div style="color: red"><b>Рассылки: &nbsp; режим модератора. Добавление невозможно. </b></div>
                    </div>

                    {%else%}


                     &nbsp; &nbsp; &nbsp; <a class="p-2 btn btn-outline-primary btn-lg btn-block"
                                        href="{%url 'mailapp:mailing_create' %}">Добавить рассылку</a> &nbsp; &nbsp;
                &nbsp;
                    {% endif %}


            </div>
            <br>
        </div>
    </div>


    <div class="col-12">

        <div class="card mb-3 box-shadow">



            {% if perms.mailapp.can_turn_off_mailing %}

            <div class="card-body">
                <h5 class="card-title">

                     <div style="color: red"><b>Рассылки: &nbsp; режим модератора. </b></div>

                </h5>
                <p class="card-text">

                <table class="table table-stripped">
                    <tr>
                        <th>Пользователь</th>
                        <th>Столик</th>
                        <th>Число мест</th>
                        <th>Оповещение за</th>
                        <th>Дата</th>
                        <th>Забронирован с</th>
                        <th>Забронирован до</th>
                        <th>Активно</th>
                        <th>Дата создания</th>



                    </tr>


                    {% for object in object_list %}
                    {% if only_send and object.settings.status == False or only_send == False %}

                    <tr>
                        <td>{{object.user}}</td>
                        <td>{{object.table}}</td>
                        <td>{{object.places}}</td>
                        <td>{{object.notification}}</td>
                        <td>{{object.date_field}}</td>
                        <td>{{object.time_start}}</td>
                        <td>{{object.time_end}}</td>
                        <td>{{object.active}}</td>
                        <td>{{object.created_at}}</td>


                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mailing_detail' object.pk%}" role="button">Информация</a>
                        </td>
                        <td>
                            {%if object.settings.status %}
                            <a class="btn btn-success" href="{%url 'mailapp:mailing_activity' object.pk%}"
                               role="button">Деактивировать</a>
                            {% else %}
                            <a class="btn btn-danger" href="{%url 'mailapp:mailing_activity' object.pk%}"
                               role="button">&nbsp;&nbsp;Активировать&nbsp;&nbsp;</a>
                            {%endif%}
                        </td>



                    </tr>
                    {% endif %}

                    {% endfor %}

                </table>

                {% endif %}




            <div class="card-body">
                <h5 class="card-title">

                    <div style="color: orange"><b> Рассылки: &nbsp; режим владельца</b></div>

                </h5>
                <p class="card-text">




                <table class="table table-stripped">
                    <tr>
                        <th>Пользователь</th>
                        <th>Столик</th>
                        <th>Число мест</th>
                        <th>Оповещение за</th>
                        <th>Дата</th>
                        <th>Забронирован с</th>
                        <th>Забронирован до</th>
                        <th>Активно</th>
                        <th>Дата создания</th>

                    </tr>


                    {% for object in object_list %}
                    {% if only_send and object.settings.status == False or only_send == False %}


                    <tr>
                        {% if user == object.user %}

                        <td>{{object.user}}</td>
                        <td>{{object.table}}</td>
                        <td>{{object.places}}</td>
                        <td>{{object.notification}}</td>
                        <td>{{object.date_field}}</td>
                        <td>{{object.time_start}}</td>
                        <td>{{object.time_end}}</td>
                        <td>{{object.active}}</td>
                        <td>{{object.created_at}}</td>

                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mailing_detail' object.pk%}" role="button">Информация</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mailing_update' object.pk%}"
                               role="button">Изменить</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mailing_delete' object.pk%}"
                               role="button">Удалить</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{%url 'mailapp:mailing_send' object.pk%}"
                               role="button">Отправить</a>
                        </td>
                        {% endif %}

                    </tr>

                    {% endif %}
                    {% endfor %}

                </table>


                </p>

            </div>
        </div>

    </div>

</div>


</div>

{% endblock %}