<!DOCTYPE html>
{% extends 'restaurant/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}


<div class="row text-right">
    <div class="col-12">

        <div class="card mb-3 box-shadow">


            <div class="card-body">

                <p class="card-text">

                <h1 class="card-title  text-center">
                    <img
                            src="{% static 'image/des-ink-well-svgrepo-com.svg' %}"
                            alt="Our history"
                            height="100px"
                            width="100px"/>
                    <br>

                    <div style="color: blue ">История ресторана</div>
                </h1>
                </p>

                    - Форма для бронирования столика.
    - Просмотр доступности столиков.
    - Подтверждение бронирования.


                <p class="lead">Ресторан "Голодная акула" был открыт в Петербурге в 2007 году. Он был создан в стиле
                    хай-тек и стал одним из самых популярных мест для любителей экзотической кухни.

                    <div class="row text-center">
                <div class="col-sm-6">
                    <div class="card">
                        <img src="{% static 'image/history/inside.png' %}" alt="Наш шеф-повар">
                    </div>
                    </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="{% static 'image/history/bar.png' %}" alt="Наша команда">
                    </div>
                    </div>


                </div>

                    В ресторане подают блюда из морепродуктов, рыбы и мяса, приготовленные на гриле. В меню можно найти
                    такие блюда, как крабы, креветки, кальмары, осьминоги и многое другое. Кроме того, ресторан
                    предлагает широкий выбор напитков, включая коктейли и вино.

                    Ресторан "Голодная акула" стал популярным местом среди туристов и местных жителей благодаря своей
                    уникальной атмосфере и высокому качеству блюд. Он также известен своими вечеринками и
                    мероприятиями, которые проводятся здесь регулярно.

                    Сегодня ресторан "Голодная акула" продолжает радовать своих гостей вкусной едой и уютной
                    атмосферой.
                </p><br>

                </p>
            </div>
        </div>
    </div>
    <div class="col-12">

        <div class="card mb-3 box-shadow">


            <div class="card-body">

                <p class="card-text">

                <p class="card-text">

                <h1 class="card-title  text-center">
                    <img
                            src="{% static 'image/mountain-top-summit-sunrise-svgrepo-com.svg' %}"
                            alt="Our mission"
                            height="100px"
                            width="100px">
                    <br>

                    <div style="color: blue ">Миссия и ценности</div>
                </h1>
                </p>

                <p class="lead"><b>Миссия нашего ресторана</b> - создавать атмосферу уюта и комфорта для посетителей,
                    предлагая им блюда высокой кухни и качественное обслуживание.
                    <br><br><u>
                        Наши ценности:</u><br>

                    <b>Качество</b>: Ресторан стремится предоставлять только высококачественные блюда и напитки,
                    используя только свежие и натуральные ингредиенты.<br>
                    <b>Инновации</b>: Ресторан постоянно работает над усовершенствованием своих блюд и сервиса, внедряя
                    новые технологии и методы.<br>
                    <b>Обслуживание</b>: Сотрудники ресторана стремятся обеспечить высокий уровень обслуживания, уделяя
                    внимание каждому посетителю.<br>
                    <b>Экологичность</b>: Ресторан уделяет внимание экологическим аспектам своей деятельности,
                    используя экологически чистые продукты и минимизируя отходы.<br>
                    <b>Разнообразие</b>: Ресторан предлагает широкий выбор блюд разных кухонь мира, чтобы удовлетворить
                    вкусы всех посетителей.</p>
                <br>

                </p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card mb-3 box-shadow">


            <div class="card-body">

                <p class="card-text">

                <h1 class="card-title  text-center">
                    <img
                            src="{% static 'image/joint-command-team-svgrepo-com.svg' %}"
                            alt="Our team"
                            height="100px"
                            width="100px">
                    <br>

                    <div style="color: blue ">Наша команда</div>
                </h1>
                </p>

                <p class="lead">
                    Команда ресторана "Hungry Shark" - это группа талантливых и опытных профессионалов, которые работают
                    вместе, чтобы создать незабываемые впечатления для своих гостей.

                    Команда ресторана "Hungry Shark":<br>

                <div class="row text-center">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="{% static 'image/history/chef.png' %}" alt="Наш шеф-повар">
                    </div>
                    </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="{% static 'image/history/team.png' %}" alt="Наша команда">
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="{% static 'image/history/command-bar.png' %}" alt="Наша команда">

                    </div>
                    </div>


                </div>


                1. Шеф-повар: отвечает за приготовление блюд и разработку новых рецептов. Он также следит за качеством
                продуктов и соблюдением всех санитарных норм.<br>
                2. Официанты: заботятся о том, чтобы гости получили максимальное удовольствие от еды и напитков. Они
                также помогают с выбором блюд и напитков, а также отвечают на вопросы гостей.<br>
                3. Бармены: создают уникальные коктейли, которые порадуют гостей своим вкусом и ароматом. Они также
                следят за наличием всех необходимых ингредиентов и качеством напитков.<br>
                4. Хостесс: приветствуют гостей и помогают им найти свободные столики. Они также отвечают за
                бронирование столов и организацию мероприятий.<br>
                5. Технический персонал: обеспечивает работу всех технических устройств в ресторане, таких как
                холодильники, посудомоечные машины и т.д.<br>
                6. Администраторы: отвечают за управление рестораном, включая управление персоналом, бухгалтерию и
                контроль над всеми процессами.<br>
                7. Маркетологи: занимаются продвижением ресторана и привлечением новых клиентов.<br>
                8. Менеджеры по продажам: отвечают за продажу продуктов и услуг ресторана.<br>
                9. Фотографы: фотографируют блюда и интерьеры ресторана для использования в социальных сетях и на
                сайте.<br>
                10. Контент-менеджеры: создают и публикуют контент для социальных сетей ресторана, включая фотографии,
                видео и статьи о блюдах.<br>

                </p>
                <br>

                </p>
            </div>
        </div>

    </div>


</div>


</div>


</div>
</div>
{% endblock %}