{% extends 'restaurant/base.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">
                        Изменение пароля (создать новый пароль, подтверждение через почту)
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}