{% extends 'restaurant/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="row text-right">

    <div class="col-12">

        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Информация о пользователе</h4>
            </div>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object.name}}</b></div>
                </h5>
                <p class="card-text">

                    <img src="{{ object.avatar|user_media_filter }}" width="100"
                                            alt={{object.avatar|user_media_filter}}> <br>
                    <b>Имя:</b> {{object.name}} <br>
                    <b>Email:</b> {{object.email}} <br>
                    <b>Телефон:</b> {{object.phone_number}} <br>
                    <b>Суперпользователь:</b> {{object.is_superuser}} <br>
                    <b>Персонал:</b> {{object.is_staff}} <br>
                    <b>Комментарий:</b> {{object.description}} <br>

                <hr>
                <h5 class="card-title">
                    <div style="color: orange"><b>Список бронирований пользователя:</b></div>
                </h5>

                <table class="table table-stripped">
                    <tr>

                        <th>Пользователь</th>
                        <th>Столик</th>
                        <th>Число мест</th>
                        <th>Оповещение за</th>
                        <th>Дата</th>
                        <th>Забронирован с</th>
                        <th>Забронирован до</th>
                        <th>Активно</th>
                        <th>Дата создания</th>

                        <th>Информация</th>
                        <th>Управление</th>


                    </tr>

                    {% for mailing_item in mailing_list %}
                    <tr>

                        <td>{{object.user}}</td>
                        <td>{{object.table}}</td>
                        <td>{{object.places}}</td>
                        <td>{{object.notification}}</td>
                        <td>{{object.date_field}}</td>
                        <td>{{object.time_start}}</td>
                        <td>{{object.time_end}}</td>
                        <td>{{object.active}}</td>
                        <td>{{object.created_at}}</td>


                                            <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mailing_detail' object.pk%}" role="button">Информация</a>
                        </td>
                        <td>
                            {%if object.active %}
                            <a class="btn btn-success" href="{%url 'mailapp:mailing_activity' object.pk%}"
                               role="button">Деактивировать</a>
                            {% else %}
                            <a class="btn btn-danger" href="{%url 'mailapp:mailing_activity' object.pk%}"
                               role="button">&nbsp;&nbsp;Активировать&nbsp;&nbsp;</a>
                            {%endif%}
                        </td>

                    {% endfor %}

                </table>


                </p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'users:user_list' %}" role="button">Вернуться к
                        каталогу</a>


                </div>
                <br>


            </div>


        </div>


    </div>


</div>

{% endblock %}